@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  height: 100%;
  width: 100%;
  padding: 2rem;
  text-align: center;
}
html, body{
  height: 100%;
  width: 100%;
}

@media screen and (min-width: 800px) {
  .Employes{
    display:flex;
  }
  .Employe{
    float:left;
    margin: auto;
  }
}
@media screen and (max-width: 800px) {
  .Employe{
    margin-bottom: 10px;
    width: 100%;
  }
  .listEmploye{
    margin: auto;
  }
}

.form{
  margin: auto;
}